/* header */
.logo{
    position: relative;
    top: 24px;
    left: 56.75px;
}
.header{
    width: 100vw;
    /* width: 1440px; */
    height: 99px;
    flex-shrink: 0;

    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0px 2px 2px gray;
    z-index: 10;
}
.header{
    background: #FBFBFD;
}

.header-component{
    /* color: #3A3A3A;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; */
    position: relative;
    top: 39px;
    left: 225.28px;
    /* left: 314px; */
}
.medium-letters{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.small-letters{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.header-component-telephone{
    color: #050608;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;   
    line-height: normal;
}

.rectangle1349{
    width: 379px;
    height: 468px;
    position: relative;
    top: 80px;
    left: 56px;
    flex-shrink: 0;

    border-radius: 20px;
    background: linear-gradient(152deg, #002ED0 8.86%, #021C75 98.88%);
    z-index: 0;

    color: #FFF;
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
}

.row{
    display: flex;
    flex-direction: row;
}
.h-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}
.column{
    display: flex;
    flex-direction: column;
}

.rashiryaem{
    position: relative;
    top: 147px;
    left: 26px;
}
.granici{
    position: relative;
    /* top: 14px; */
    /* left: 29.21px; */
    top: 189px;
    left: 55.52px;
}
.bisnesa{
    position: relative;
    top: 231px;
    left: 42px;
}

.rgb-image {
    display: block;
    width: 206px;
    height: 452px;
    border: 20px;
    border-color: #F5F6FB;
}
.rgb-row{
    display: flex;
    flex-direction: row;
    /* position: relative; */
    /* top: 143px; */
    /* left: -121px; */
    position: absolute;
    top: 242px;
    left: 314px;
    width: 864px;
} 
.our-business-is{
    position: relative;
    top: 140px;
    left: 55px;
}
.blue-letters{
    color: #002ED0;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 95.833% */
}
.black-letters{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}
.grey-letters{
    color: #CED0E2;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; /* 104.167% */
    text-transform: capitalize;
}
.moving-words{
    position: relative;
    top: 152px;
}

.main{
    width: 100%;
    /* height: 774px; */
    height: 675px;
    background: #F5F6FB;
}
.about-us{
    width: 100%;
    height: 902px;
    background: #FBFBFD;
}
.geography{
    width: 100%;
    height: 769px;
    background: #F5F6FB;
}
.our-team{
    width: 100%;
    height: 704px;
    background: #FBFBFD;
}
.company-group{
    width: 100%;
    height: 704px;
    background: #F5F6FB;
}
.contacts{
    width: 100%;
    height: 771px;
    background: #F5F6FB;
}

.line{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.caption-truck{
    display: flex;
    flex-direction: row;
}
/* .caption-truck:hover{
    animation-name: slide;
    animation-duration: 3s, 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
} */
.caption{
    position: relative;
    top: 114px;
    left: 82px;
    width: 545px;
    height: 110px;
}
.caption-2{
    width: 410px;
}
.truck{
    position: relative;
    top: 90px;
    background-image: url(../images/truck.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    object-fit: cover;
    visibility: hidden;

    display: flex;
    width: 1030.729px;
    height: 537.733px;
    padding: 0px 0px 69.943px 72.41px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;


    animation-name: slide;
    animation-delay: 3s;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes slide {
    from{
        transform: translate(100px);
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 100%;
        visibility: initial;
    }
}
.truck:hover{
    background-image: url(../images/truck-light.svg), url(../images/truck.svg);
}

.employee{
    width: 317px;
    height: 317px;
    
    border-radius: 20px;
    background: #C4C4C4;
}
.black-letters-28px{
    color: #3A3A3A;
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.square{
    width: 318px;
    height: 250px;
    border-radius: 20px;
    background-color: #FFF;
}
.bottom{
    position: relative;
    bottom: -30%;
}
.right{
    position: relative;
    right: -50%;
}
.bottom-right{
    position: relative;
    bottom: -35%;
    right: 0%;
}